# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Pytest
.pytest_cache/

# Allure
allure-results/
allure-report/

# Test outputs
test_results/
*.log

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
